body {
    font-family: Arial, sans-serif;
    background-color: #696969;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background: #f8f8ff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 320px;
    border-color:#DDD5D0;
}

.display {
    font-size: 2em;
    text-align: right;
    margin-bottom: 20px;
    height: 40px;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    word-wrap: break-word;
    overflow-x: auto;
}

.buttons button {
    font-size: 1.5em;
    width: 60px;
    height: 60px;
    margin: 5px;
    background-color: #f2f2f2;
    
    border-radius: 10px;
    transition: background-color 0.3s;
    border-color:#DDD5D0;
    border-width:1xp;
}

.buttons button:hover {
    background-color: #ddd;
}

.buttons button:active {
    background-color: #bbb;
}

.buttons button:nth-child(4),
.buttons button:nth-child(8),
.buttons button:nth-child(12),
.buttons button:nth-child(13),
.buttons button:nth-child(16) {
    background-color: #ddd;
}

.buttons button:nth-child(15){
  background-color: #CFC0BD;
}
  
